/* Font sizes */
$default-size:14px;
$section-heading:28px;
$large-heading:38px;

/* Background color */
$bgnd-butterfly:#6b54a6;
$bgnd-emerald:#45c25e;
$bgnd-sunset:#ff5252;
$bgnd-dasksky:#2572a8;
$bgnd-black-squeeze:#f2f3f5;
$bgnd-black:#000;
$bgnd-white:#fff;
$bgnd-dark-green:#15804e;
$bgnd-selective-yellow:#FFBA00;
$bgnd-silver:#f6f6f7;
$bgnd-lynch:#58595b;
$bgnd-cornflower-blue:#0d7dec;
$bgnd-concrete:#f3f3f3;

/* Background color hover effect */
$btn-hover-emerald:#3CB558;
$btn-hover-sunset:#EE3C37;

/* Text colors */
$txt-white:#fff;
$txt-butterfly:#6b54a6;
$txt-emerald:#45c25e;
$txt-sunset:#ff5252;
$txt-selective-yellow:#FFBA00;
$txt-orange:#f07541;
$txt-purple:#6e3d7c;
$txt-light-purple:#886093;
$txt-yellow:#ffdd00;
$txt-turquoise:#50e3c2;
$txt-lynch:#58595b;
$txt-java:#0d7dec;
$txt-cornflower-blue:#0d7dec;
$txt-default:#2d3c4d;
$txt-more:#0d7dec;

/* Error messages */
$txt-error:#ff5252;
$txt-error-light:#f07541;

/* Border colors */
$b-green:#45c25e;
$b-lynch:#58595b;
$b-silver:#cccdcd;
$b-default:rgba(88, 89, 91, 0.6);

/* box shadow */
$box-shadow-color:rgba(111, 133, 159, 0.34);
